
  .slider {
    margin:0 20px;
    overflow:"hidden";
    padding:2rem 0;
  }
  
  .slider img {
    aspect-ratio: 2;
    width: 100%;
    border-radius:10px;
  }
  
  .react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
  }
  
  .custom-dot-list-style button{
  border: none;
  background: rgb(74, 68, 255);
  }
  .react-multi-carousel-dot.react-multi-carousel-dot--active button{
  background: rgb(68, 149, 255) !important;
  }